body{

background:#eef3f8;

font-family:Arial,Helvetica,sans-serif;

}

.navbar{

box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.table{

background:white;

}

.table th{

text-align:center;

}

.table td{

text-align:center;

vertical-align:middle;

}

.btn{

border-radius:25px;

}

h2{

font-weight:bold;

}

.card{

border:none;

border-radius:15px;

box-shadow:0 0 20px rgba(0,0,0,.1);

}

input{

border-radius:10px!important;

}